/* Fonts */

.chivo {
  font-family: 'Chivo Mono', monospace;
}

.ovo {
  font-family: 'Ovo', serif;
}

/* Intro */

h1 {
  line-height: 1.2;
}

/* Projects */

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* About */

.skilltag {
  transition: background-color 0.3s, color 0.3s;
}