/* Intro */

h1 {
  font-family: 'Lustria', serif;
  font-size: 2.5em;
  line-height: 1.2;
  font-weight: 300;
}

/* Navbar */

nav {
  font-family: 'Chivo Mono', monospace;
  color: #9d5454;
}

/* Projects */

#projects .title{
  font-family: 'Chivo Mono', monospace;
}

#projects {
  background-color: #f2ece1;
}

/* Footer */

footer {
  font-family: 'Chivo Mono', monospace;
  color: #9d5454;
}

