@import "tailwindcss";
@import "@fontsource/ovo";

:root {
  font-family: sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  --primary-color: #faf6f0;
  --secondary-color: #f2ece1;
  --text-color: #000000;
}

html {
  scroll-behavior: smooth;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  background-color: var(--primary-color);
  color: var(--text-color);
}

h1 {
  /* font-size: 3.2em; */
  line-height: 1.1;
}

p {
  margin: 0;
}
